$nav_height : 56px;
$nav_height_retract : 40px;
$nav_tab_width : 100px;
$nav_logo_width : 60px;
$nav_height_hide : 40px;

$nav_speed : 0.5s;//speed retract 

$sidebar_width : 200px;
$sidebar_li_height : 50px;


$hamburglar_scale: 0.7;
$burglar_size : 50px; /* Aproximation pour un scale de 0.7 */ 

