$general_speed : 0.3s;



$nav_height : 40px;
$nav_height_expend : 100px;

$nav_tab_width : 100px;

$nav_logo_width : $nav_height;
//$nav_height_hide : 40px;

$nav_speed : 0.5s;//speed retract 

$sidebar_width : 200px;
$sidebar_li_height : 50px;


$hamburglar_scale: 0.7;
$burglar_size : $nav_height ;

$coef_search : 0.3;